﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="/css/member.css" rel="stylesheet" type="text/css" />
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet" />
    <style>
        .attach-header {
            color: white;
        }

        .upload-box-header {
            border-left: solid 4px #6f7a8e;
            background-color: #f3f3f3;
        }

        .gallery-upload {
            color: salmon;
        }

        .image-delete {
            color: red;
        }

        .camera-upload {
            text-align: center;
            background-color: #a7a7a7;
            color: white;
            height: 100px;
            overflow: hidden;
            border-radius: 6px;
        }

            .camera-upload i.fa-camera {
                margin: 20px;
                cursor: pointer;
                font-size: 60px;
            }

        i:hover {
            opacity: 0.6;
        }

        input {
            display: none;
        }
    </style>
}
@{
    int items = 10;
}

<div id="member-bg">
    <div class="row m-3 pt-2">
        <div class="col-12 text-center">
            <div class="d-flex attach-header">
                <div class="p-2" id="back-btn">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="p-2 flex-grow-1" id="attach-header"></div>
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-3" style="background-color:#fff">
        <div class="row m-2">
            <div class="col-12">
                @*Picture1*@
                @for (var i = 1; i <= items; i++)
                {
                    <div class="row p-2 mb-2 upload-box-header">
                        <div class="col-5">
                            <div>รูปที่ @i</div>
                        </div>
                        <div class="col-7">
                            <div class="d-flex justify-content-end">
                                <div class="gallery-upload">
                                    <i class="fa fa-upload p-2" id="gal@(i)">
                                    </i>
                                    <input type="file" id="gallery@(i)" accept="image/*">
                                </div>
                                <div class="image-delete">
                                    <i class="fa fa-trash p-2" id="remove@(i)" style="display:none"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 camera-upload">
                            <i class="fa fa-camera" id="cam@(i)"></i>
                            <input type="file" id="camera@(i)" accept="image/*" capture />
                            <img id="preview@(i)" src="#" style="width:100%" onerror="this.style.display='none'" />
                        </div>
                        <div class="col-8">
                            <textarea rows="4" class="form-control" placeholder="ใส่ข้อมูลรายละเอียดรูปภาพ" id="info@(i)" disabled></textarea>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <!-- Modal -->
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ประเภทเอกสารหลักฐาน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select id="evd_type_id" class="form-control" name="evd_type_id">
                        <option disabled>เลือกประเภทเอกสารหลักฐาน</option>-->
    @*<option selected value="1">โฉนดที่ดิน</option>
        <option value="2">หนังสือรับรองการทำประโยชน์</option>
        <option value="3">หนังสือกรรมสิทธิห้องชุด</option>
        <option value="4">อื่นๆ</option>*@
    <!--</select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
                    <button class="btn btn-primary" id="store-data-btn">ตกลง</button>
                </div>
            </div>
        </div>
    </div>-->
</div>
@section Scripts{
    <script src="/lib/fileStyle/bootstrap-filestyle.js"></script>
    <script>

    $(function () {

        let attachModel = JSON.parse(localStorage.getItem("typeModel"));
        $('#attach-header').text(attachModel.typeText);

        let attachList = [];

        $('#back-btn').click(function () {
            localStorage.setItem("transAttach", JSON.stringify(attachList));
            let prot = window.location.protocol
            let rootPath = window.location.host;
            let nextUrl = prot + "//" + rootPath + "/Member/Reservregister2";
            window.location.href = nextUrl;
        });

        function storeItem(index, files, inputEl) {

            let reader = new FileReader();
            reader.onload = function (e) {
                let imageSrc = e.target.result;

                let previewEl = $('#preview' + index);
                let infoEl = $('#info' + index);
                let removeEl = $('#remove' + index);
                let camIcon = $('#cam' + index);

                camIcon.css("display", "none");

                infoEl.prop("disabled", false);

                previewEl.attr('src', imageSrc).css("display", "block");
                removeEl.css("display", "block");

                removeEl.click(function () {
                    // click to remove image
                    let indexItem = attachList.findIndex(x => x.index === index);
                    if (indexItem > -1) {
                        previewEl.css("display", "none");
                        $("i#cam" + index).show();

                        $(this).hide();
                        infoEl.val('');
                        infoEl.prop("disabled", true);
                        attachList.splice(indexItem, 1);
                    }
                    console.log('remove', attachList);
                });

                // store image src
                let item = {
                    image: imageSrc,
                    index: index
                };
                attachList.push(item);

                // store info if text is changed
                infoEl.change(function () {
                    let attachItem = attachList.find(x => x.index === index);
                    attachItem.info = $(this).val();
                    console.log('info', attachList);
                });
            }
            reader.readAsDataURL(files[0]);
        }

        for (i = 1; i < 10; i++) {
            let gal = document.getElementById('gal' + i);
            let galleryInput = document.getElementById('gallery' + i);
            let cam = document.getElementById('cam' + i);
            let cameraInput = document.getElementById('camera' + i);

            gal.addEventListener("click", function () {
                galleryInput.click();
            }, false);
            galleryInput.addEventListener("click", function (evt) {
                evt.stopPropagation();
            }, false);
            cam.addEventListener("click", function () {
                cameraInput.click();
            }, false);
            cameraInput.addEventListener("click", function (evt) {
                evt.stopPropagation();
            }, false);
            cameraInput.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    let strId = this.id;
                    storeItem(strId.slice(strId.length - 1), this.files, cam);
                }
            }, false);
            galleryInput.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    let strId = this.id;
                    storeItem(strId.slice(strId.length - 1), this.files, gal);
                }
            }, false);
        }
    });
    </script>
}