﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
}
<div id="member-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 m-5">
               
            </div>
        </div>
    </div>
       
</div>
@section Scripts {
    <script src="https://ws.ega.or.th/cportal/sdk/alpha/sdk.js"></script>
    <script>
        $(function () {
            //$('#submit-login').click(function () {
            //    var settings = {
            //        "url": "https://api.egov.go.th/ws/auth/validate?ConsumerSecret=9Jvx5424jya&AgentID=2459900016656",
            //        "method": "GET",
            //        "timeout": 0,
            //        "headers": {
            //            "Consumer-Key": "4905013d-2fb4-4e0f-802f-8d2dd61956c9"
            //        },
            //    };

            //       $.ajax(settings).done(function (response) {
            //         console.log(response);
            //        });


            //});
            let prot = window.location.protocol
            let rootPath = window.location.host;
            let homePage = prot + "//" + rootPath; 

            window.czpSdk.init().then(() => { window.location = homePage; });  
        });
    </script>
}