﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
}
<div id="member-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 m-5">
                <div class="text-center text-light mb-5">ลงชื่อเข้าใช้งานระบบ</div>
                <div class="text-center text-light mb-5 h1 ">e-QLands</div>
                <div class="form-group">
                    <label class="text-light" for="username">Username</label>
                    <input maxlength="13" type="number" name="user_name"  class="form-control" id="username" placeholder="เลขบัตรประชาชน(13หลัก)" required>

                </div>
                <div class="form-group ">
                    <label class="text-light" for="password">Password</label>
                    <input type="number" name="user_pwd" maxlength="10"  class="form-control" id="password" placeholder="หมายเลขโทรศัพท์" required>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a asp-controller="Member" asp-action="Register" class="btn btn-block btn-secondary"><i class="fas fa-user"></i>&nbspลงทะเบียน</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-primary" style="background-color: #ff6a00" id="submit-login">เข้าสู่ระบบ&nbsp<i class="fas fa-sign-in-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Back Modal*@
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="fas fa-exclamation-triangle fa-7x" style=" color:#f0dc51;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>หมายเลขบัตรประชาชน(13 หลัก)</p>                        
                    </div>

                    <div class="row justify-content-center ">
                         <p>หรือ หมายเลขโทรศัพท์ ไม่ถูกต้อง </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                   
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $('#submit-login').click(function () {
                //let userName = $("input[name='user_name']").val();
                let userName = $("#username").val();
                let uPass = $("input[name='user_pwd']").val();
               
                console.log(userName);
                console.log(uPass);
                const data = {
                    user_name: userName,
                    user_pwd: uPass,
                    device_token: userName 
                };
                console.log('data', data);
                let url = 'https://eqlands.dol.go.th/eQLands/api/Service/Login';
                $.ajax({
                    url: url,
                    dataType: "json",
                    type: "POST",
                    data: data
                  
                }).done(function (data) {
                    let res = data.records[0];
                    console.log('userinfo:', res);
                    if (!res) {
                        //do somthing
                        $('#alertModal').modal('show');
                    } else {
                        localStorage.setItem("userinfo", JSON.stringify(res));
                        //let prot = window.location.protocol
                        //let rootPath = window.location.host;
                        let nextUrl = "@Url.Action("Reservedlist", "Member")";
                        window.location.href = nextUrl;
                    }
                    
                });

              });
        });
    </script>
}