﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
    <style>
        .trim-border {
            border-radius: 6px;
        }

        .wrap {
            word-wrap: break-word;
        }
        .queue-check {
            position: absolute;
            border-radius: 50%;
            background-color: aqua;
            padding: 5px 10px;
            font-size: 1.2rem;
            right: 40px;
            border-color: transparent;
        }

        .noti-delete {
            position: absolute;
            padding: 5px 10px;
            font-size: 1.5rem;
            right: 20px;
            background-color: transparent;
            border-color: transparent;
            color: red;
          
        }

        .header-nav {
            z-index: 100;
            width: 100%;
            position: fixed;
            top: 0;
            height: 60px;
            background-color: #546A6C;
        }

        .flex-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            height: 60px;
            margin: 0 14px;
        }

            .flex-block button {
                color: #fff;
                
            }

            .flex-block .flex-l-item div {
                display: inline-block;
            }

            .flex-block .flex-r-item {
              
            }
    </style>
}
<div id="member-bg">
    
    <div class="header-nav">
        <div class="flex-block">
            <div class="flex-l-item">
                <div>
                    <button id="back-btn" class="btn"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div>การแจ้งเตือน</div>
            </div>
            <div class="flex-r-item">
                <div>

                    <button class="btn" id="clearall"><u>ลบทั้งหมด</u></button>
                </div>
                @*<button class="btn"><i class="far fa-bell"></i></button>*@
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 60px">
        <div class="row justify-content-center">
            <div class="col-12" id="Notification">
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class=" text-center " id="exampleModalLabel">รายการยื่นคำขอจองคิว</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a asp-controller="Member" asp-action="Reservregister1" class="btn btn-block btn-success">จองคิวจดทะเบียน</a>
                    <a asp-controller="Member" asp-action="Reservsurvey1" class="btn btn-block btn-success">จองคิวรังวัด</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block" data-dismiss="modal">ปิดหน้าต่าง</button>

                </div>
            </div>
        </div>
    </div>

    @*cancel Modal*@
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4 ">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ไม่</button>
                    <button class="btn btn-primary text-light" type="button" id="cancleQueue">ใช่</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(function () {
             let userdata = JSON.parse(localStorage.getItem("userinfo"));
            console.log('userdata', userdata)
            const data = {
                user_reg_id: userdata.user_reg_id
            };

            let url = 'https://eqlands.dol.go.th/eQLands/api/Service/GetNotification';
            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                data: data
            }).done(function (data) {
                console.log('Data', data);
                if (data.total !== 0) {
                    for (var i = 0; i < data.total; i++) {
                        let notiid = data.records[i].trans_queue_approve_id;
                        let uid = data.records[i].user_reg_id;
                        console.log('type', data.records[i].reg_type_name);
                        if (data.records[i].notify_flag == "1") {
                            $('#Notification').append(
                                `<button class="noti-delete" id="notidelete${notiid}" ><i class="fas fa-trash-alt"></i></button>
                                <div class="bg-light p-2 trim-border mb-3 noti-card" >
                                    <div class ="form-inline trim-border p-1" style="background-color:gray">
                                           <input type="hidden" id="noti-card-id" value="${notiid}"/>
                                         <div><img src="../img/2.png" class="rounded float-left" width="30"></div>
                                         <div >&nbspข้อความวันที่&nbsp${data.records[i].notify_date}</div>
                                    </div><hr>
                                    <div>จาก : ${data.records[i].org_name}</div >
                                    <div class ="form-inline justify-content-between">
                                         <div>เลขคิว : ${data.records[i].trans_queue_code}&nbsp</div >
                                         <div>วันที่ทำการตรวจ : ${data.records[i].approve_date}</div >
                                    </div>
                                    <div>ประเภทคำขอ : ${data.records[i].reg_type_name}</div >
                                    <div class="wrap">สถานะ : ${data.records[i].approve_detail}</div >
                                </div>`
                            );
                        }
                        else {
                            $('#Notification').append(
                                `<button class="noti-delete" id="notidelete${notiid}"> <i class="fas fa-trash-alt"></i></button>
                                <div class="bg-light p-2 trim-border mb-3 noti-card" >
                                    <div class ="form-inline trim-border p-1" style="background-color:lightgray">
                                           <input type="hidden" id="noti-card-id" value="${notiid}"/>
                                         <div><img src="../img/2.png" class="rounded float-left" width="30"></div>
                                         <div >&nbspข้อความวันที่&nbsp${data.records[i].notify_date}</div >
                                    </div><hr>
                                    <div>จาก : ${data.records[i].org_name}</div >
                                    <div class ="form-inline justify-content-between">
                                         <div>เลขคิว : ${data.records[i].trans_queue_code}&nbsp</div >
                                         <div>วันที่ทำการตรวจ : ${data.records[i].approve_date}</div >
                                    </div>
                                    <div>ประเภทคำขอ : ${data.records[i].reg_type_name}</div >
                                    <div class="wrap">สถานะ : ${data.records[i].approve_detail}</div>
                                </div>`
                            );
                        }

                        $(`#notidelete${notiid}`).click(function () {
                         
                            let tqaid = JSON.stringify(notiid);
                            let uregid = JSON.stringify(uid);
                            let deletenoti = {
                                trans_queue_approve_id: tqaid,
                                user_reg_id: uregid
                            };

                            let delurl = 'https://eqlands.dol.go.th/eQLands/api/Service/DeleteNotification?' + 'trans_queue_approve_id=' + tqaid + '&' + 'user_reg_id=' + uregid;
                            $.ajax({
                                url: delurl,
                                dataType: "json",
                                type: "POST",
                                //data: deletenoti
                            }).done(function (data) {
                                let nextUrl = "@Url.Action("Notification", "Member")";
                                window.location.href = nextUrl;
                            });
                        });


                        $(".noti-card").on('click', function (event) {
                            event.stopPropagation();
                            event.stopImmediatePropagation();
                            const noTiId = $(this).find('#noti-card-id').val();                            
                            let uregid = JSON.stringify(uid);
                            let readnoti = {
                                trans_queue_approve_id: noTiId,
                                user_reg_id: uregid
                            };

                            let readurl = 'https://eqlands.dol.go.th/eQLands/api/Service/SetReadNotification?' + 'trans_queue_approve_id=' + noTiId + '&' + 'user_reg_id=' + uregid;
                            $.ajax({
                                url: readurl,
                                dataType: "json",
                                type: "POST",
                                //data: readnoti
                            }).done(function (data) {
                                let nextUrl = "@Url.Action("Notification", "Member")";
                                window.location.href = nextUrl;
                            });
                        });


                    }
                }
                else {
                   
                    $('#Notification').append(
                        //`<div class="bg-light p-2 trim-border mb-3 mt-3 text-center">ไม่มีข้อความแจ้งเตือน</div>`
                            `<div class="text-center text-light mt-4">ไม่มีข้อความแจ้งเตือน</div>`
                    );
                }
            });

            $('#back-btn').click(function () {
                 let nextUrl = "@Url.Action("Reservedlist", "Member")";
                 window.location.href = nextUrl;
            });
            $('#clearall').click(function () {

                let readurl = 'https://eqlands.dol.go.th/eQLands/api/Service/DeleteAllNotification?' + 'user_reg_id=' + userdata.user_reg_id;
                            $.ajax({
                                url: readurl,
                                dataType: "json",
                                type: "POST",
                                //data: readnoti
                            }).done(function (data) {
                                let nextUrl = "@Url.Action("Notification", "Member")";
                                window.location.href = nextUrl;
                            });
               });
        });

    </script>

}