﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
}
<style>
    .trim-border {
        border-radius: 6px;
    }

    #next-btn.active {
        background-color: #0026ff;
    }

    .next-btn {
        background-color: #ff6a00;
    }
</style>

<div id="member-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 m-3">

                <div class="d-flex attach-header mb-4">
                    @*<a asp-controller="Member" asp-action="Reservedlist" class="text-light"><i class="fas fa-arrow-left"></i></a>
                        <div class="text-light">&nbsp&nbsp  ตรวจสอบข้อมูลการจองคิว</div>*@
                    <div class="col-12 text-center">
                        <div class="text-light">ขั้นตอนที่ 5/5</div>
                    </div>
                    <div class="cancle-btn">
                        <button class="btn btn-block btn-danger text-light" data-toggle="modal" data-target="#cancelModal">ยกเลิก</button>
                    </div>
                </div>

                <div class="bg-light p-2 mb-2 trim-border">
                    <div><i class="far fa-list-alt"></i>&nbspตรวจสอบข้อมูลการจองคิวรังวัดและนัดรังวัด </div>
                </div>
                <div class="bg-light p-2 mb-2 trim-border">
                    <div id="province"><b>&nbspจังหวัด : </b></div>
                    <div id="orgname"><b>&nbspสำนักงานที่ดิน : </b></div>
                    <div id="type"><b>&nbspประเภทคำขอจดทะเบียน : </b></div>
                    <div id="utype"><b>&nbspประเภทการยื่นคำขอ : </b></div>
                    <div id="jurtype"><b>&nbspประเภทเอกสารหลักฐาน : </b></div>
                    <div><b>&nbspข้อมูลที่ดิน : </b></div>
                    <div id="pro">&nbspจังหวัด : </div>
                    <div id="amp">&nbspเขต/อำเภอ : </div>
                    <div id="parcelno">&nbspเลขที่เอกสารสิทธิ : </div>
                    <div id="landno">&nbspเลขที่ดิน : </div>
                    <div id="attachpic"><b>&nbspภาพประกอบการจองคิว : </b></div>
                    <div id="date"><b>&nbspวันนัดยื่นคำขอ : </b></div>
                    <div id="surveydate"><b>&nbspวันที่นัดรังวัด : </b></div>
                </div>
                <div class="row justify-content-between">

                    <div class="col-5">

                        <a asp-controller="Member" asp-action="Surveycalendar2" class="btn btn-block btn-secondary"><i class="fas fa-arrow-left"></i> ย้อนกลับ</a>
                    </div>

                    <div class="col-5">

                        <button id="store-data-btn" class="btn btn-block next-btn text-light">จองคิว </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*cancel Modal*@
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ไม่</button>
                    <button class="btn btn-primary text-light" type="button" id="cancleQueue">ใช่</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $(function () {
            const typeRecords = JSON.parse(localStorage.getItem('regTypeRecord'));
            console.log(typeRecords);
            const model = JSON.parse(localStorage.getItem('transQueue'));

            const typeRecord = typeRecords.find(r => r.Value == model.reg_type_id);
            $('#type').append(typeRecord.Label);
            $('#jurtype').append(localStorage.getItem("evd_label"));
            $('#province').append(localStorage.getItem("province_label"));
            $('#pro').append(localStorage.getItem("province_label"));
            $('#orgname').append(localStorage.getItem("landoffice_label"));
            $('#amp').append(localStorage.getItem("amphur_label"));
            $('#date').append(localStorage.getItem("appointmentdate"));
            $('#parcelno').append(localStorage.getItem("parcelno"));
            $('#landno').append(localStorage.getItem("landno"));
            $('#utype').append(localStorage.getItem("owntype_label"));
            $('#surveydate').append(localStorage.getItem("surveydate"));
            $('#store-data-btn').click(function () {
                var Url = 'https://eqlands.dol.go.th/eQLands/api/Service/CreateTransQueue';
                var create = JSON.parse(localStorage.getItem('transQueue'));

                $.ajax({
                    url: Url,
                    dataType: "json",
                    type: "POST",
                    data: create


                }).done(function (data) {
                    localStorage.setItem("queue_id", data.records[0].trans_queue_id);

                    let nextUrl = "@Url.Action("QueueCard", "Member")";
                    window.location.href = nextUrl;

                });
            });

        });
    </script>

}
