﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
    <style>
        .trim-border {
            border-radius: 6px;
        }

        .wrap {
            word-wrap: break-word;
        }

        .pic-logo {
            position: absolute;
            top: 30px;
            right: 25px;
            border-color: transparent;
        }

        .header-nav {
            z-index: 100;
            width: 100%;
            position: fixed;
            top: 0;
            height: 60px;
            background-color: #546A6C;
        }

        .flex-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            height: 60px;
            margin: 0 14px;
        }

            .flex-block button {
                color: #fff;
                font-size: 1.5rem;
            }

            .flex-block .flex-l-item div {
                display: inline-block;
            }

            .flex-block .flex-r-item {
            }
    </style>
}
<div id="member-bg">

    <div class="header-nav">
        <div class="flex-block">
            <div class="flex-l-item">
                <div>
                    <button id="home-btn" class="btn"><i class="fas fa-home"></i></button>
                </div>

            </div>
            <div>ทำรายการสำเร็จ</div>
            <div class="flex-r-item">
                <div>

                    @*<button class="btn">
                            <i class="far fa-save"></i>
                        </button>*@
                </div>

            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 60px">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="bg-light p-2 mb-4 mt-4 trim-border" id="mycanvas">
                    <div>
                        <div style="font-size:20px;">&nbsp&nbspe-QLands</div>
                        <div id="confirmdate">&nbsp&nbspวันที่บันทึกการจอง&nbsp</div>
                        <div class="pic-logo trim-border"><img src="../img/2.png" width="45" style="border-radius:20%"></div>
                    </div><hr>
                    <div style="background-image: url(../img/3.png);background-repeat: no-repeat; background-position:center;">
                        <div class="text-center">
                            <div id="orgname" style="font-size:20px;"></div>
                            <div style="font-size:20px;">หมายเลขอ้างอิงการจอง</div>
                            <div id="queueid" style="color:dodgerblue; font-size: 40px; font-weight: bold;"></div>
                            <div style="font-size:20px;">กรุณาติดต่อสำนักงานที่ดิน</div>
                            <div id="date" style="font-size:20px;">วันที่&nbsp</div>
                            <div id="type" style="font-size:20px;"></div>
                            <div id="typedetail" style="font-size: 20px; color: dodgerblue;"></div>
                        </div>
                    </div><hr>

                    <div class="text-center" style="font-size:17px;">เบอร์โทรติดต่อสำนักงานที่ดิน</div>
                    <div class="text-center" id="tel" style="color:dodgerblue;font-size: 17px;"></div>
                    <div class="text-wrap" style="color:red; font-size:12px;">&nbsp&nbspหมายเหตุ : การจองคิวจะเสร็จสมบูรณ์ก็ต่อเมื่อได้รับการยืนยันจากสำนักงานที่ดิน</div>

                </div>

                <button id="main-btn" style="background-color:#5f6871; font-size:17px;" type="button" class="btn btn-block text-light p-3 trim-border">กลับหน้าหลัก</button>


            </div>

        </div>
    </div>



</div>

@section Scripts {
    <script src="~/lib/html2canvas.js"></script>
    <script>
        $(function () {
            const data = {
                trans_queue_id: localStorage.getItem("queue_id")
            };

            let url = 'https://eqlands.dol.go.th/eQLands/api/Service/GetTransQueueVM';
            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                data: data
            }).done(function (data) {
                $('#orgname').append(data.trans_queue.org_name);
                $('#tel').append(data.trans_queue.org_tel);
                $('#typedetail').append(data.trans_queue.reg_type_name);
                $('#queueid').append(data.trans_queue.trans_queue_code);
                $('#date').append(data.trans_queue.appointment_date);
                $('#confirmdate').append(data.trans_queue.trans_queue_date);
                if (data.trans_queue.trans_queue_type == 'S') {
                    $('#type').append(
                        `  <div>ประเภทคำขอยื่นรังวัด</div>`
                    )
                }
                else {
                    $('#type').append(
                        `  <div>ประเภทคำขอยื่นทะเบียน</div>`
                    )
                }
                saveimg();
            });
            $('#home-btn').click(function () {
                 let nextUrl = "@Url.Action("Reservedlist", "Member")";
                 window.location.href = nextUrl;
            });
            $('#main-btn').click(function () {
                 let nextUrl = "@Url.Action("Reservedlist", "Member")";
                 window.location.href = nextUrl;
            });


        });
        function saveimg() {          

            html2canvas(document.getElementById('mycanvas')).then(function (canvas) {
                let pic = canvas.toDataURL("image/jpeg");
                const pageImage = new Image();
                pageImage.src = pic;
                const mycanvas = document.createElement('canvas');
                mycanvas.width = pageImage.naturalWidth;
                mycanvas.height = pageImage.naturalHeight;

                const ctx = mycanvas.getContext('2d');
                ctx.imageSmoothingEnabled = false;
                ctx.drawImage(pageImage, 0, 0);
                //console.log(mycanvas, pageImage)

                let fileName = "Queue"
                const link = document.createElement('a');
                link.download = fileName + '.png';
                //console.log(canvas)
                canvas.toBlob(function (blob) {
                    console.log(blob)
                    link.href = URL.createObjectURL(blob);
                    link.click();
                });

            });
        };
    </script>
}