﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
}
<style>
    .trim-border {
        border-radius: 6px;
    }
    .queue-check {
        position: absolute;
        border-radius: 50%;
        background-color: #0eaece;
        padding: 1px 8px;
        font-size: 1.2rem;
        right: 25px;
        top: 44px;
        border-color: transparent;
        color:white;
    }
    .add-pic {
        position: absolute;
        border-radius: 50%;
        background-color: #1533e8;
        padding: 1px 8px;
        font-size: 1.2rem;
        right: 25px;
        top: 356px;
        border-color: transparent;
        color: white;
    }
</style>

<div id="member-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 m-3">

                <div class="d-flex attach-header mb-4">
                    
                    <div class="form-inline">
                        <div class="text-light"><a asp-controller="Member" asp-action="Reservedlist"><i class="fas fa-chevron-left"></i></a></div>
                        <div class="text-light">&nbsp&nbsp&nbsp&nbsp&nbspตรวจสอบข้อมูลการจองคิว</div>

                    </div>

                    <div class="cancle-btn">
                        <button class="btn btn-block btn-danger text-light" data-toggle="modal" data-target="#cancelModal">ยกเลิก</button>
                    </div>
                </div>

                <div class="bg-light p-2 mb-2 trim-border">
                    <div id="queue"><i class="far fa-list-alt "></i>&nbspรายละเอียดข้อมูล คิวที่ </div>
                    <button class="queue-check" id="queuepic"><i class="far fa-file-alt"></i></button>
                </div>
                <div class="bg-light p-2 mb-2 trim-border">
                    <div id="province"><b>&nbspจังหวัด : </b></div>
                    <div id="orgname"><b>&nbspสำนักงานที่ดิน : </b></div>
                    <div id="type"></div>
                    <div id="utype"><b>&nbspประเภทการยื่นคำขอ : </b></div>
                    <div id="jurtype"><b>&nbspประเภทเอกสารหลักฐาน : </b></div>
                    <div><b>&nbspข้อมูลที่ดิน : </b></div>
                    <div id="pro">&nbspจังหวัด : </div>
                    <div id="amp">&nbspเขต/อำเภอ : </div>
                    <div id="parcelno">&nbspเลขที่เอกสารสิทธิ : </div>
                    <div id="landno">&nbspเลขที่ดิน : </div>
                    <div id="mem"><b>&nbspภาพประกอบการจองคิว : </b></div>
                    <div id="date"><b>&nbspวันนัดยื่นคำขอ : </b></div>
                    

                </div>
                <div class="bg-light p-2 mb-2 trim-border">
                    <div><i class="fas fa-file " style="color:dimgray"></i><b>&nbspเอกสารประกอบการยื่นคำขอ  </b></div>
                    <button class="add-pic" id="addpic"><i class="far fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    @*cancel Modal*@
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">ไม่</button>
                    <button class="btn btn-primary text-light col-3" type="button" id="cancleQueue">ใช่</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            const data = {
                trans_queue_id: localStorage.getItem("trans_queue_id")
            };

            let url = 'https://eqlands.dol.go.th/eQLands/api/Service/GetTransQueueVM';
            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                data: data
            }).done(function (data) {
                $('#queue').append(data.trans_queue.trans_queue_code);
                $('#province').append(data.trans_queue.pvnamethai);
                $('#orgname').append(data.trans_queue.org_name);
                $('#tel').append(data.trans_queue.org_tel);
                if (data.trans_queue.trans_queue_type == 'S') {
                    $('#type').append(
                        `  <div><b>&nbspประเภทคำขอรังวัด : </b>${data.trans_queue.reg_type_name} </div>`
                    )
                }
                else {
                    $('#type').append(
                        `  <div><b>&nbspประเภทคำขอจดทะเบียน : </b>${data.trans_queue.reg_type_name} </div>`
                    ) }


                $('#utype').append(data.trans_queue.owner_type);
                $('#jurtype').append(data.trans_queue.evd_type_name);
                $('#pro').append(data.trans_queue.pvnamethai);
                $('#amp').append(data.trans_queue.amnamethai);
                $('#parcelno').append(data.trans_queue.parcel_no);
                $('#landno').append(data.trans_queue.land_no);
                $('#date').append(data.trans_queue.appointment_date);
                $('#mem').append(data.trans_queue.trans_queue_date);
                if (data.trans_queue.trans_queue_type == 'S') {
                    $('#surdate').append(
                        `  <div><b>&nbspวันที่นัดรังวัด : </b>${data.trans_queue.survey_date}</div > `
                     )
                }
                let transid = data.trans_queue.trans_queue_id;

                 $('#queuepic').click(function () {
                    localStorage.setItem("trans_queue_id", transid);
                    let nextUrl = "@Url.Action("Queuepic", "Member")";
                    window.location.href = nextUrl;
                });

                    $('#addpic').click(function () {
                    localStorage.setItem("trans_queue_id", transid);
                    let nextUrl = "@Url.Action("Queuepic", "Member")";
                    window.location.href = nextUrl;
                });

            });
            $('#cancleQueue').click(function () {
                let userdata = JSON.parse(localStorage.getItem("userinfo"));
                let trQ = parseInt(localStorage.getItem("trans_queue_id"));
                const cancel = {
                    trans_queue_id: trQ, //localStorage.getItem("trans_queue_id"),
                    user_reg_id: userdata.user_reg_id
                };

                let cancelurl = 'https://eqlands.dol.go.th/eQLands/api/Service/CancelQueueByUser?' + 'trans_queue_id=' + trQ + '&' + 'user_reg_id=' + userdata.user_reg_id;
                $.ajax({
                    url: cancelurl,
                    dataType: "json",
                    type: "POST",
                    //data: JSON.stringify(cancel)

                }).done(function (data) {
                    console.log('ffffffff', data);
                    let nextUrl = "@Url.Action("Reservedlist", "Member")";
                    window.location.href = nextUrl;
                });
            });

            })
    </script>
}
