﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
}
<style>
    .trim-border {
        border-radius: 6px;
    }
</style>

<div id="member-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 m-3">

                <div class="bg-light p-4 trim-border">
                    <p class="h5">ข้อมูลผู้ใช้งาน</p>
                    <div class="form-group">
                        <label for="userTitle">คำนำหน้า</label><br>
                        <div class="row form-check form-inline">
                            <div class="col-auto">
                                <input class="form-check-input" type="radio" name="userTitle" id="userTitle1" value="นาย">
                                <label class="form-check-label">นาย</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input" type="radio" name="userTitle" id="userTitle2" value="นาง">
                                <label class="form-check-label">นาง</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input" type="radio" name="userTitle" id="userTitle3" value="นางสาว">
                                <label class="form-check-label">นางสาว</label>
                            </div>
                            <div class="col-auto">
                                <input class="form-check-input" type="radio" name="userTitle" id="userTitle4" value="อื่นๆ">
                                <label class="form-check-label">อื่นๆ</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="userFname">ชื่อจริงภาษาไทย</label>
                        <input type="text" class="form-control" id="user_fname" placeholder="ชื่อจริงภาษาไทย (ไม่ต้องใส่คำนำหน้า)" required="true">
                    </div>
                    <div class="form-group">
                        <label for="userLname">นามสกุลภาษาไทย</label>
                        <input type="text" class="form-control" id="user_lname" placeholder="นามสกุลภาษาไทย" required="true">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email address</label>
                        @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="อีเมล์แอดเดรส">*@
                        <input type="text" class="form-control" name="input_email" id="user_email" placeholder="อีเมล์แอดเดรส" @*pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"*@
                               autocomplete="off" value="" required>
                        <div class="invalid-feedback">
                            กรุณากรอกอีเมล์
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userLineId">Line ID</label>
                        <input type="text" class="form-control" id="user_line_id" placeholder="Line ID">
                    </div>

                    <p class="h5">กำหนดรหัสการเข้าใช้งานระบบ</p>
                    <div class="form-group">
                        <label for="userCitizenId">Username</label>
                        <input type="text" class="form-control" id="user_citizen_id" aria-describedby="emailHelp" placeholder="เลขบัตรประชาน(13หลัก)">
                        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                    <div class="form-group">
                        <label for="userTelephone">Password</label>
                        <input type="number" class="form-control" id="user_telephone" placeholder="หมายเลขโทรศัพท์" pattern="^0([8|9|6])([0-9]{8}$)" required>
                        <div class="invalid-feedback">
                            กรุณากรอกเบอร์มือถือตัวเลข 10 หลัก
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a asp-controller="Member" asp-action="Login" class="btn btn-block btn-danger">ยกเลิก</a>

                        </div>
                        <div class="col-6">
                            <button id="login" class="btn btn-block btn-success">ลงทะเบียน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Register Success Modal*@
    <div class="modal fade" id="registerSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-check-circle fa-7x" style=" color:#4cff00;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>ลงทะเบียนสำเร็จ</p>
                    </div>

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>*@
                    <a asp-controller="Member" asp-action="Login" class="btn btn-primary text-light">ตกลง</a>
                </div>
            </div>
        </div>
    </div>

    @*Register Fail Modal*@
    <div class="modal fade" id="registerFailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-times-circle fa-7x" style=" color:red;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>เกิดข้อผิดพลาดในการลงทะเบียน</p>
                    </div>

                    <div class="row justify-content-center ">
                        <p>กรุณาลองใหม่อีกครั้ง </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                    @*<a asp-controller="Member" asp-action="Reservedlist" class="btn btn-primary text-light">ยืนยัน</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function checkID(id) {
            if (id.length != 13) return false;
            for (i = 0, sum = 0; i < 12; i++)
                sum += parseFloat(id.charAt(i)) * (13 - i); if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
                return false; return true;
        }

        function checkForm() {
            if (!checkID(document.form1.txtID.value))
                alert('รหัสประชาชนไม่ถูกต้อง');
            else alert('รหัสประชาชนถูกต้อง เชิญผ่านได้');
        };
        $(function () {
           
            $('#login').click(function () {
                //let userName = $("input[name='user_name']").val();
                //let userName = $("#username").val();
                //let uPass = $("input[name='user_pwd']").val();
                let usertypeid = '1' ;
                let landofficeseq = '0';
                let titleid = $("input[name='userTitle']:checked").val();
                let userfname = $("#user_fname").val() ;
                let userlname = $("#user_lname").val() ;
                let usercitizenid = $("#user_citizen_id").val() ;
                let usertelephone = $("#user_telephone").val() ;
                let useremail = $("#user_email").val() ;
                let userlineid = $("#user_line_id").val() ;
                let createduser = $("#user_citizen_id").val();
                let userpwd = $("#user_telephone").val();
                let url = 'https://eqlands.dol.go.th/eQLands/api/Service/CreateUser';

                const data = {
                    //user_name: userName,
                    //user_pwd: uPass,
                    url : url,
                    user_type_id: usertypeid ,
                    landoffice_seq: landofficeseq ,
                    title_id: titleid ,
                    user_fname: userfname ,
                    user_lname: userlname,
                    user_citizen_id: usercitizenid ,
                    user_telephone: usertelephone ,
                    user_email: useremail,
                    user_line_id: userlineid ,
                    created_user: createduser,
                    user_pwd: userpwd
                };

                console.log(data);
                $.ajax({
                    url: url,
                    dataType: "json",
                    type: "POST",
                    data: data
                }).done(function (response) {
                    console.log('response',response);
                    console.log('Data', data);
                    //Modal
                    let status = response.status;
                    console.log('status', status);
                    if (status === 200) {
                        //do somthing
                        $('#registerSuccessModal').modal('show');
                    } else {

                        $('#registerFailModal').modal('show');

                        @*localStorage.setItem("userinfo", JSON.stringify(res));
                        let prot = window.location.protocol
                        let rootPath = window.location.host;
                        let nextUrl = "@Url.Action("Reservedlist", "Member")";
                        window.location.href = nextUrl;*@
                    }

                });



            });
        });
    </script>
}