﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
    <style>
        .trim-border {
            border-radius: 6px;
        }

        .queue-check {
            position: absolute;
            border-radius: 50%;
            background-color: #0eaece;
            padding: 4px 10px;
            font-size: 1.2rem;
            right: 40px;
            border-color: transparent;
            color:white;
        }
        .queue-cancel {
            position: absolute;                       
            padding: 5px 10px;
            font-size: 1.5rem;
            right: 40px;
            background-color : transparent;
            border-color:transparent;
            color :red;
            
        }
      
        .header-nav {
            z-index: 100;
            width: 100%;
            position: fixed;
            top: 0;
            height: 60px;
            background-color: #546A6C;
        }
        .flex-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            height: 60px;
            margin: 0 14px;
        }
        .flex-block button{
            color: #fff;
            font-size:1.5rem;
        }
        .flex-block .flex-l-item div{
            display: inline-block;
        }
        .flex-block .flex-r-item {

        }
        .notification-unread {
            position: absolute;
            border-radius: 50%;
            padding: 2px 8px;
            font-size: 1rem;
            right: 12px;
            border-color: transparent;
            color: white;
        }
        .notification-unread.isactive{
            background-color: red;
        }
    </style>
}
<div id="member-bg">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-addreserve" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus"></i>
    </button>
    <div class="header-nav">
        <div class="flex-block">
            <div class="flex-l-item">
                <div>
                    <button id="userdetail" class="btn"><i class="fas fa-user-circle"></i></button>
                </div>
                <div>รายการจองคิว</div>
            </div>
            <div class="flex-r-item">
                <button class="btn"><i class="far fa-filter"></i></button>
                <button id="noti" class="btn">
                    <i class="far fa-bell"></i>
                    <span id="notiUnread" class="notification-unread"></span>
                </button>
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 60px">
        <div class="row justify-content-center">
            <div class="col-11 m-3 " id="RecentQueue">

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class=" text-center " id="exampleModalLabel">รายการยื่นคำขอจองคิว</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a asp-controller="Member" asp-action="Reservregister1" class="btn btn-block btn-success">จองคิวจดทะเบียน</a>
                    <a asp-controller="Member" asp-action="Reservsurvey1" class="btn btn-block btn-success">จองคิวรังวัด</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block" data-dismiss="modal">ปิดหน้าต่าง</button>

                </div>
            </div>
        </div>
    </div>

    @*cancel Modal*@
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ไม่</button>
                    <button class="btn btn-primary text-light" type="button" id="cancleQueue">ใช่</button>
                </div>
            </div>
        </div>
    </div>
    @*Scancel Modal*@
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ไม่</button>
                    <button class="btn btn-primary text-light" type="button" id="cancleQueue">ใช่</button>
                </div>
            </div>
        </div>
    </div>
    @*Rcancel Modal*@
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ไม่</button>
                    <button class="btn btn-primary text-light" type="button" id="cancleQueue">ใช่</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(function () {
            let userdata = JSON.parse(localStorage.getItem("userinfo"));
            console.log('userdata', userdata)

            const data = {
                user_reg_id: userdata.user_reg_id
            };

            let url = 'https://eqlands.dol.go.th/eQLands/api/Service/GetTransQueue';
            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                data: data
            }).done(function (data) {
                    console.log('tt', data);
                if (data.records) {
                    let queuetype;
                    for (var i = 0; i < data.total; i++) {
                        if (data.records[i].cancel_flag == null) {
                            console.log('rec', data.records[i]);
                            if (data.records[i].trans_queue_type == 'S') {
                                queuetype = "รังวัด";
                                let transid = data.records[i].trans_queue_id;
                                $('#RecentQueue').append(
                                    `<div class="bg-light p-4 trim-border mb-3">

                                         <div class ="form-inline">
                                            <div><img src="../img/1.png" class="rounded float-left" width="30"></div>
                                            <div >&nbsp${data.records[i].org_name}</div >
                                            <button class="queue-cancel " data-toggle="modal" data-target="#S-delete${transid}" ><i class="fas fa-times"></i></button>
                                        </div><hr>
                                        <div class="p-1 trim-border" style = "background-color:#06ea57">สถานะ : ${data.records[i].status_name}</div >
                                        <button class="queue-check mt-2" id="Squeuepic${transid}"><i class="far fa-file-alt"></i></button>
                                        <div>รายการจองคิว : ${queuetype}</div >
                                        <div>คิวที่ : ${data.records[i].trans_queue_code}</div >
                                        <div>ประเภท : ${data.records[i].reg_type_name}</div >
                                        <div>วันที่นัดมาสำนักงาน : ${data.records[i].appointment_date}</div >
                                        <div>วันที่นัดรังวัด : ${data.records[i].survey_date}</div >
                                        <div>วันที่บันทึกการจอง : ${data.records[i].trans_queue_date}</div >
                                        <button style = "background-color:#5f6871" type="button" class="btn btn-block text-light" id="S-btn${transid}" >ตรวจสอบ</button>

                                    </div>
                                    <div class="modal fade" id="S-delete${transid}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row justify-content-center mb-4">
                                                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                                                    </div>

                                                    <div class="row justify-content-center ">
                                                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">ไม่</button>
                                                    <button class="btn btn-primary text-light col-3" type="button" id="Su-delete${transid}">ใช่</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                        
                                    `
                                );
                                $(`#S-btn${transid}`).click(function () {
                                    localStorage.setItem("trans_queue_id", transid);
                                    let nextUrl = "@Url.Action("Queuecheck", "Member")";
                                    window.location.href = nextUrl;
                                });
                                $(`#Squeuepic${transid}`).click(function () {
                                    localStorage.setItem("trans_queue_id", transid);
                                    let nextUrl = "@Url.Action("Queuepic", "Member")";
                                    window.location.href = nextUrl;
                                });
                                $(`#Su-delete${transid}`).click(function () {
                                    let cancelurl = 'https://eqlands.dol.go.th/eQLands/api/Service/CancelQueueByUser?' + 'trans_queue_id=' + transid + '&' + 'user_reg_id=' + userdata.user_reg_id;
                                        $.ajax({
                                        url: cancelurl,
                                        dataType: "json",
                                        type: "POST"
                                        //data: JSON.stringify(cancel)

                                    }).done(function (data) {
                                        let nextUrl = "@Url.Action("Reservedlist", "Member")";
                                        window.location.href = nextUrl;
                                    });
                                });
                            }

                            else {
                                queuetype = "ทะเบียน";
                                // do something
                                let transid = data.records[i].trans_queue_id;
                                console.log('test', data.records);
                                $('#RecentQueue').append(
                                    `<div class="bg-light p-4 trim-border mb-3">
                                     <div class ="form-inline">
                                        <div><img src="../img/1.png" class="rounded float-left" width="30"></div>
                                        <div >&nbsp${data.records[i].org_name}</div >
                                        <button class="queue-cancel " data-toggle="modal" data-target="#R-delete${transid}"><i class="fas fa-times"></i></button>
                                     </div><hr>
                                <div class="p-1 trim-border" style = "background-color:#06ea57">สถานะ : ${data.records[i].status_name}</div >
                                <button class="queue-check mt-2" id="Rqueuepic${transid}"><i class="far fa-file-alt"></i></button>
                                <div>รายการจองคิว : ${queuetype}</div >

                                <div>คิวที่ : ${data.records[i].trans_queue_code}</div >
                                <div>ประเภท : ${data.records[i].reg_type_name}</div >
                                <div>วันที่นัดมาสำนักงาน : ${data.records[i].appointment_date}</div >
                                <div>วันที่บันทึกการจอง : ${data.records[i].trans_queue_date}</div >
                                <button style = "background-color:#5f6871" type="button" class="btn btn-block text-light" id="R-btn${transid}" >ตรวจสอบ</button>
                                </div>
                                    <div class="modal fade" id="R-delete${transid}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row justify-content-center mb-4">
                                                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                                                    </div>

                                                    <div class="row justify-content-center ">
                                                        <p>คุณต้องการยกเลิกจองคิวใช่หรือไม่</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">ไม่</button>
                                                    <button class="btn btn-primary text-light col-3" type="button" id="Re-delete${transid}">ใช่</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                `

                                );
                                $(`#R-btn${transid}`).click(function () {
                                    localStorage.setItem("trans_queue_id", transid);
                                    let nextUrl = "@Url.Action("Queuecheck", "Member")";
                                    window.location.href = nextUrl;
                                });

                                $(`#Rqueuepic${transid}`).click(function () {
                                    localStorage.setItem("trans_queue_id", transid);
                                    let nextUrl = "@Url.Action("Queuepic", "Member")";
                                    window.location.href = nextUrl;
                                });

                                $(`#Re-delete${transid}`).click(function () {
                                    let cancelurl = 'https://eqlands.dol.go.th/eQLands/api/Service/CancelQueueByUser?' + 'trans_queue_id=' + transid + '&' + 'user_reg_id=' + userdata.user_reg_id;
                                        $.ajax({
                                        url: cancelurl,
                                        dataType: "json",
                                        type: "POST"
                                        //data: JSON.stringify(cancel)

                                    }).done(function (data) {
                                        let nextUrl = "@Url.Action("Reservedlist", "Member")";
                                        window.location.href = nextUrl;
                                    });
                                });
                            }
                          }
                        }
                }

            });

            $('#userdetail').click(function () {
                let nextUrl = "@Url.Action("Userupdate", "Member")";
                window.location.href = nextUrl;
            });

            $('#noti').click(function () {
                let nextUrl = "@Url.Action("Notification", "Member")";
                window.location.href = nextUrl;
            });


            // check notification
            let userdatanoti = JSON.parse(localStorage.getItem("userinfo"));
            const datanoti = {
                user_reg_id: userdatanoti.user_reg_id
            };

            let notiurl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetNotification';

            $.ajax({
                url: notiurl,
                dataType: "json",
                type: "GET",
                data: datanoti
            }).done(function (data) {
                console.log('Datanoti', data);
                const notinumber = data.records.filter(noti => noti.notify_flag == "1");
                console.log('noticount', notinumber);
                const unreadnoti = notinumber.length;
                console.log('unread', unreadnoti);

                if (unreadnoti > 0) {

                    $('#notiUnread').addClass('isactive').text(unreadnoti);
                }

            });
            setInterval(function () {
                $.ajax({
                    url: notiurl,
                    dataType: "json",
                    type: "GET",
                    data: datanoti
                }).done(function (data) {
                    console.log('Datanoti', data);
                    const notinumber = data.records.filter(noti => noti.notify_flag == "1");
                    console.log('noticount', notinumber);
                    const unreadnoti = notinumber.length;
                    console.log('unread', unreadnoti);

                    if (unreadnoti > 0) {

                        $('#notiUnread').addClass('isactive').text(unreadnoti);
                    }

                });
            }, 10000);

        });



    </script>
}