﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <style>
        .delete-icon {
            color: #dd4141;
            font-size: 1.5rem;
        }

        .edit-icon {
            color: #f6a91e;
            font-size: 1.5rem;
        }

        .attach-btn {
            background-color: #1e95cf;
            color: #fff;
            border-radius: 50%;
            padding: 2px 6px;
        }

        
        .trim-border {
            border-radius: 6px;
        }
        #store-data-btn.active {
            background-color: #ff6a00;
        }
   
    </style>
}

<div id="member-bg">
    <div class="container">
        <div class="row">
            <div class="col-11 m-3 justify-content-center">
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <div class="text-light">ขั้นตอนที่ 2/4</div>
                    </div>
                    <div class="cancle-btn">
                        <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-block btn-danger" data-toggle="modal" data-target="#backModal">ยกเลิก</a>
                    </div>
                </div>
                <div class="bg-light p-2 mb-2 trim-border ">
                    <label for="inputEvidenceType" class="col-form-label">ประเภทเอกสารหลักฐาน</label>
                    <input type="text" readonly class="form-control" id="inputEvidenceType">

                </div>
                <div class="bg-light p-2 mb-2 form-group trim-border">
                    <div class="d-flex justify-content-between pb-3">
                        <label class="mr-3">จังหวัด : </label>
                        <input type="text" readonly class="ml-1 flex-grow-1" id="inputProvince">
                    </div>
                    <div class="d-flex justify-content-between pb-3">
                        <label class="mr-3">เขต/อำเภอ : </label>
                        <select class="ml-1 flex-grow-1 validate-input" id="select-amphur" name="amphur_seq">
                            <option></option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between pb-3">
                        <label class="mr-3">เลขที่เอกสารสิทธิ์ : </label>
                        <input id="parcelno" type="text" class="ml-1 flex-grow-1 validate-input">
                    </div>
                    <div class="d-flex justify-content-between pb-3">
                        <label class="mr-3">เลขที่ดิน : </label>
                        <input id="landno" type="text" class="ml-1 flex-grow-1 validate-input">
                    </div>
                </div>
                <div class="bg-light p-2 mb-5 justify-content-center trim-border">
                    <div class="row pb-2">
                        <div class="col-8">
                            เอกสารประกอบการยื่นขอจองคิว
                        </div>
                        <div class="col-4">
                            <button class="btn attach-btn float-right" data-toggle="modal" data-target="#image-type"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <table class="table" id="transAttachTable">
                        <thead>
                            <tr>
                                <th scope="col">ลบ</th>
                                <th scope="col">ประเภทไฟล์</th>
                                <th scope="col">จำนวน</th>
                                <th scope="col">แก้ไข</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="form-group col bg-light ">

                </div>
                <div class="row justify-content-between">
                    <div class="col-5">
                        <a asp-controller="Member" asp-action="Reservregister1" class="btn btn-block btn-secondary"><i class="fas fa-arrow-left"></i> ย้อนกลับ</a>

                    </div>
                    <div class="col-5">

                        <button id="store-data-btn" class="btn btn-block btn-secondary text-light">ถัดไป <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="image-type" tabindex="-1" role="dialog" aria-labelledby="image-type" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ประเภทรูปภาพ</h5>
                </div>
                <div class="modal-body">
                    <select id="evd_type_id" class="form-control" name="evd_type_id">
                        <option disabled>เลือกประเภทรูปภาพ</option>
                    </select>
                    <div class="row mt-5">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">ปิดหน้าต่าง</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary btn-block" id="attach-btn">ตกลง</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @*Back Modal*@
    <div class="modal fade" id="backModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>ยืนยันยกเลิกการจองคิวจดทะเบียน</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
                    <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-primary text-light">ยืนยัน</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>

        // Retrieve
        var prov = localStorage.getItem("province");
        var model = JSON.parse(localStorage.getItem('transQueue'));


        var evdTypeList = [
            {
                value: 1,
                label: "รูปหลักฐานที่ดิน"
            },
            {
                value: 2,
                label: "รูปข้อมูลส่วนบุคล"
            },
            {
                value: 3,
                label: "รูปอื่นๆ"
            }
        ];

        $(function () {
            function evdTableList(index, evdTypeModel) {
                let indexItem = evdTypeList.find(x => x.value === index);
                let evdText = indexItem.label;
                console.log('evd', evdText);
                // add table list
                let items = evdTypeModel.length;

                $('#transAttachTable tbody').append(
                    `
                        <tr id="attachType${indexItem.value}">
                            <td><i class="fas fa-trash delete-icon" id="remove${indexItem.value}" style="color:red"></i></td>
                            <td>${evdText}</td>
                            <td>${items}</td>
                            <td><i class="fas fa-edit edit-icon" id="edit${indexItem.value}"></td>
                        </tr>
                    `
                );
                $('#remove' + indexItem.value).click(function () {
                    $('#attachType' + indexItem.value).remove();

                    transAttach = transAttach.filter(function (obj) {
                        return obj.typeId != indexItem.value;
                    });
                    console.log('delete', transAttach);
                    localStorage.setItem("transAttach", JSON.stringify(transAttach));

                });
                $('#edit' + indexItem.value).click(function () {
                    localStorage.setItem("typeModel", JSON.stringify(indexItem));
                    let nextUrl = "@Url.Action("AttachpicEdit", "Member")";
                    window.location.href = nextUrl;
                });

                if (indexItem) {
                    // remove deoend on list index
                    evdTypeList = evdTypeList.filter(function (obj) {
                        return obj.value !== indexItem.value;
                    });
                }
            }

            let evdLabel = localStorage.getItem("evd_label");
            let provLabel = localStorage.getItem("province_label");
            let transAttach = JSON.parse(localStorage.getItem("transAttach"));

            if (transAttach && transAttach.length > 0) {
                let evdType1 = transAttach.filter(item => item.typeId == 1);
                let evdType2 = transAttach.filter(item => item.typeId == 2);
                let evdType3 = transAttach.filter(item => item.typeId == 3);
                if (evdType1.length > 0) {
                    evdTableList(1, evdType1);
                }
                if (evdType2.length > 0) {
                    evdTableList(2, evdType2);
                }
                if (evdType3.length > 0) {
                    evdTableList(3, evdType3);
                }

            }
            evdTypeList.forEach(el => $('#evd_type_id').append(`<option value=${el.value}>${el.label}</option>`));

            $('#inputEvidenceType').val(evdLabel);
            $('#inputProvince').val(provLabel);

            const data = {
                province_seqs: model.province_seq
            }
            let amUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetAmphurList';
            $.ajax({
                url: amUrl,
                dataType: "json",
                data: data
            }).done(function (data) {
                console.log('data', data);
                let offices = data.records;
                const officeList = offices.map(function (x) {
                    x.id = x.Value;
                    x.text = x.Label
                    return x;
                });
                $('#select-amphur').select2({
                    placeholder: "เลือกอำเภอ",
                    allowClear: true,
                    data: officeList
                });
            });


            let isValid = false;

            function validatorInput() {

                const parcelno = $('#parcelno').val();
                const selectAmphur = $('#select-amphur').val();
                const landno = $('#landno').val();
                console.log(parcelno);
                console.log(selectAmphur);
                console.log(landno);
                if (selectAmphur && parcelno && landno) {
                    isValid = true;
                    $('#store-data-btn').addClass('active');
                    // change btn to available
                }
                else {
                    isValid = false;
                    $('#store-data-btn').removeClass('active');
                }
            }
            $('.validate-input').change(function () {
                validatorInput();
            });
            $('#store-data-btn').click(function () {
                if (isValid) {
                   localStorage.setItem("amphur_label", $('#select-amphur option:selected').text());
                localStorage.setItem("parcelno", $('#parcelno').val());
                localStorage.setItem("landno", $('#landno').val());
                model.parcel_no = $('#parcelno').val();
                model.land_no = $('#landno').val();
                model.amphur_seq = $('#select-amphur option:selected').val();
                localStorage.setItem("transQueue", JSON.stringify(model));
                console.log('model', model);
                let nextUrl = "@Url.Action("Registercalendar", "Member")";
                    window.location.href = nextUrl;
                }
                else {
                    // alert
                    alert("ท่านกรอกข้อมูลไม่ครบ");
                }

            })

            
            $('#attach-btn').click(function () {
                let typeId = $('#evd_type_id option:selected').val();
                let typeText = $('#evd_type_id option:selected').text();
                if (typeId) {
                    let typeModel = {
                        typeId: typeId,
                        typeText: typeText
                    };

                    localStorage.setItem("typeModel", JSON.stringify(typeModel));
                    let nextUrl = "@Url.Action("Attachpic", "Member")";
                    window.location.href = nextUrl;
                }
            });

        });


    </script>
}