﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}

<style>
    .trim-border {
        border-radius:6px;
    }
    #next-btn.active {
        background-color: #ff6a00;
    }
   

</style>

<div id="member-bg">

    <div class="container">
        <div class="row">
            <div class="col-11 m-3 justify-content-center">
                <div class="col-12 text-center">
                    <p class="text-light">ขั้นตอนที่ 1/4</p>
                </div>
                <form>
                    <div class="bg-light p-2 mb-2 trim-border">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">จังหวัด</label>
                        <select class="custom-select my-1 mr-sm-2 validate-input" id="select-province" name="province_seq" >
                            <option></option>
                        </select>
                    </div>
                    <div class=" bg-light p-2 mb-2 trim-border">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">สำนักงานที่ดิน</label>
                        <select class="custom-select my-1 mr-sm-2 validate-input" id="select-office" name="landoffice_seq">
                            <option></option>
                        </select>
                    </div>
                    <div class="bg-light p-2 mb-2 justify-content-center trim-border">
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input validate-input" type="radio" name="owner_type_id" id="owner_type_id1" value="1" checked>
                            <label class="form-check-label" for="owner_type_id1">บุคคลธรรมดา</label>
                        </div>
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input validate-input" type="radio" name="owner_type_id" id="owner_type_id2" value="2">
                            <label class="form-check-label" for="owner_type_id2">นิติบุคคล</label>
                        </div>
                    </div>
                    <div class="bg-light p-2 mb-2 justify-content-center d-none trim-border" id="owner_input">
                        <div class="form-group">
                            <input class="form-control validate-input" type="text" name="owner_name" placeholder="ชื่อนิติบุคคล">
                        </div>
                        <div class="form-group">
                            <input class="form-control validate-input" type="text" name="owner_number" placeholder="เลขนิติบุคคล">
                        </div>
                    </div>

                    <div class="form-group col bg-light trim-border" id="reserve_type">
                        <legend class="col-form-label mb-2">ประเภทคำขอจดทะเบียน</legend>


                        @*<div class="form-check">
                                <div class="row">
                                    <div class="col-2">
                                        <input class="form-check-input" name="juristic_id" type="radio" id="juristic_id11" value="11">
                                        <label class="form-check-label mb-3" for="juristic_id11">อื่นๆ</label>
                                    </div>
                                    <div class="col-10">
                                        <input name="juristic_name" class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row justify-content-between">

                        <div class="col-5">

                            <a class="btn btn-block btn-danger text-light" data-toggle="modal" data-target="#backModal"><i class="fas fa-times"></i>  ยกเลิก</a>
                        </div>

                        @*<div class="col-4">
                                <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-block btn-danger"><i class="fas fa-times"></i>  ยกเลิก</a>

                            </div>*@
                        <div class="col-5">

                            <a class="btn btn-block btn-secondary text-light" id="next-btn">ถัดไป  <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal -->
    @*Next Modal*@
    <div class="modal fade" id="nextModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ประเภทเอกสารหลักฐาน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select id="evd_type_id" class="form-control" name="evd_type_id">
                        <option disabled>เลือกประเภทเอกสารหลักฐาน</option>
                        @*<option selected value="1">โฉนดที่ดิน</option>
                            <option value="2">หนังสือรับรองการทำประโยชน์</option>
                            <option value="3">หนังสือกรรมสิทธิห้องชุด</option>
                            <option value="4">อื่นๆ</option>*@
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
                    <button class="btn btn-primary" id="store-data-btn">ตกลง</button>
                </div>
            </div>
        </div>
    </div>

    @*Back Modal*@
    <div class="modal fade" id="backModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>ยืนยันยกเลิกการจองคิวจดทะเบียน</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
                    <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-primary text-light" >ยืนยัน</a>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(function () {
            $('input[name="owner_type_id"]').change(function () {
                let ownValue = $(this).val();
                let ownerInputEl = $('#owner_input');
                if (ownValue == 2) {
                    ownerInputEl.removeClass('d-none');
                } else {
                    ownerInputEl.addClass('d-none');
                }
            });

            let provinceUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetProvinceList';
            let provinces;
            $.ajax({
                url: provinceUrl,
                dataType: "json",
            }).done(function (data) {
                provinces = data.records;
                const map1 = provinces.map(function(x){
                    x.id = x.Value;
                    x.text = x.Label
                    return x;
                });
                console.log("provinces", map1);
                $('#select-province').select2({
                    placeholder: "เลือกจังหวัด",
                    allowClear: true,
                    data: map1
                });
                $('#select-office').select2({
                    placeholder: "เลือกสำนักงานที่ดิน"
                });
                $('#select-province').on('select2:select', function (e) {
                    const data = {
                        province_seq: e.params.data.Value
                    }
                    let officeUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetLandOfficeList';
                    $.ajax({
                        url: officeUrl,
                        dataType: "json",
                        data: data
                    }).done(function (data) {
                        let offices = data.records;
                        const officeList = offices.map(function (x) {
                            x.id = x.Value;
                            x.text = x.Label
                            return x;
                        });
                        console.log('offices', officeList);
                        let officeEl = $('#select-office');
                        officeEl.empty();
                        officeEl.select2({
                            placeholder: "เลือกสำนักงานที่ดิน",
                            allowClear: true,
                            data: officeList
                        });
                    });
                });

                let isValid = false;



                function validatorInput() {

                    const regtypeId = $('input[name="regtype_id"]:checked').val();
                    //const selectOffice = $('#select-office').val();
                    
                    const selectedProvicne = $('#select-province').val();
                  
                   
                    if (selectedProvicne && regtypeId   ) {
                        isValid = true;
                        $('#next-btn').addClass('active');
                        // change btn to available
                    }
                    else {
                        isValid = false;
                        $('#next-btn').removeClass('active');
                    }
                }
                $('.validate-input').change(function () {
                    validatorInput();
                });
                $('#next-btn').click(function () {
                    if (isValid) {
                        $('#nextModal').modal('toggle');
                    }
                    else {
                        // alert
                        alert("ท่านกรอกข้อมูลไม่ครบ");
                    }

                })

                $('#store-data-btn').click(function () {
                    const regtypeId = $('input[name="regtype_id"]:checked').val();
                    const selectOffice = $('#select-office').val();
                    const ownerType = $('input[name="owner_type_id"]:checked').val();
                    const selectedProvicne = $('#select-province').val();
                    const evdType = $('#evd_type_id option:selected').val();
                    const userInfoModel = JSON.parse(localStorage.getItem("userinfo"));
                    console.log('infomodel', userInfoModel);
                    if (regtypeId && selectOffice && ownerType && selectedProvicne && evdType) {
                        let model = {
                            user_reg_id: userInfoModel.user_reg_id,
                            trans_queue_type: 'R',
                            landoffice_seq: selectOffice,
                            owner_type_id: ownerType,
                            reg_type_id: regtypeId,
                            juristic_id: ownerType == 2 ? $('input[name="owner_number"]').val() : "",
                            juristic_name: ownerType == 2 ? $('input[name="owner_name"]').val() : "",
                            province_seq: selectedProvicne,
                            evd_type_id: evdType,
                            created_user: userInfoModel.user_citizen_id,
                        };
                        console.log('regid', model);
           
                        localStorage.setItem("transQueue", JSON.stringify(model));
                        localStorage.setItem("evd_label", $('#evd_type_id option:selected').text());
                        localStorage.setItem("province_label", $('#select-province option:selected').text());
                        localStorage.setItem("landoffice_label", $('#select-office option:selected').text());
                        //if (ownerType == 1) { localStorage.setItem("owntype_label", "บุคคลธรรมดา") }
                        //else { localStorage.setItem("owntype_label", "นิติบุคคล") }
                        ownerType == 1 ? localStorage.setItem("owntype_label", "บุคคลธรรมดา") :
                            localStorage.setItem("owntype_label", "นิติบุคคล");
                        
                        //let prot = window.location.protocol
                        //let rootPath = window.location.host;
                        //let nextUrl = prot + "//" + rootPath + "/Member/Reservregister2";
                        let nextUrl = "@Url.Action("Reservregister2", "Member")";
                        window.location.href = nextUrl;
                    } else {
                        // alert
                        alert("ท่านกรอกข้อมูลไม่ครบ");
                    }

                });
            });

            //2. get type
            let typeUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetRegTypeList?reg_type_flags=R';
            let records;
            $.ajax({
                url: typeUrl,
                dataType: "json",
            }).done(function (data) {
                records = data.records;
                if (records) {
                    localStorage.setItem("regTypeRecord", JSON.stringify(records));
                }
                
                $.each(records, function (key, value) {
                    $('#reserve_type').append(
                        `<div class="form-check">
                            <input class="form-check-input validate-input" name="regtype_id" type="radio" id="${value.Value}" value="${value.Value}">
                            <label class="form-check-label mb-3" for="${value.Value}">${value.Label}</label>
                        </div>`
                    )
                });

            });

            //3. get main doc
            let evdUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetEvdTypeList?evd_type_flags=';
            $.ajax({
                url: evdUrl,
                dataType: "json",
            }).done(function (data) {
                $.each(data.records, function (key, value) {
                    $('#evd_type_id').append(
                        ` <option value="${value.Value}">${value.Label}</option>`
                    )
                });
            });


        });
    </script>
}