﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/powerful-calendar/style.css" />
    <link rel="stylesheet" href="~/lib/powerful-calendar/theme.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/lib/main.css" />
}

<style>
    .trim-border {
        border-radius: 6px;
    }

    #next-btn.active {
        background-color: #0026ff;
    }

    .next-btn {
        background-color: #ff6a00;
    }

    .fc-highlight {
        background: red !important;
    }
</style>

<div id="member-bg">

    <div class="container">
        <div class="row">
            <div class="col-11 m-3 justify-content-center">
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <p class="text-light">ขั้นตอนที่ 4/5</p>
                    </div>
                    <div class="cancle-btn">
                        <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-block btn-danger" data-toggle="modal" data-target="#backModal">ยกเลิก</a>
                    </div>
                </div>
                <div class="bg-light p-2 mb-2 trim-border">
                    <div><i class="far fa-calendar-alt "></i>   ระบุวันรังวัด</div>
                </div>
                <div id="calendar" class="bg-light mb-2"></div>
                <div class="bg-light p-2 mb-2 trim-border form-inline">
                    <div><i class="far fa-calendar-alt "></i>   วันที่นัดรังวัด&nbsp</div>
                    <div id="selectDate"></div>

                </div>
                <div class="bg-light p-2 mb-2 trim-border">
                    <div id="type"><i class="far fa-calendar-alt "></i><b>   ประเภทคำขอจดทะเบียน :&nbsp</b></div>
                    <div class="form-inline">
                        <div><b>จำนวนคิวคงเหลือ :&nbsp</b></div>
                        <div id="getQueue"></div>
                    </div>
                </div>
                <div class="bg-light p-2 mb-2 trim-border">
                    <div><i class="fas fa-info-circle"></i>   ข้อมูลสัญลักษณ์ภายในปฏิทิน</div>
                </div>
                <div class="bg-light p-2 mb-2 trim-border">
                    <div class="form-inline">
                        <div><i class="fas fa-square " style="color: blanchedalmond"></i>&nbspวันปัจจุบัน&nbsp&nbsp</div>
                        <div><i class="fas fa-square " style="color: white"></i>&nbspวันปกติ หรือ วันที่สามารถนัดได้</div>
                    </div>
                    <div class="form-inline">
                        <div><i class="fas fa-square " style="color: red"></i>&nbspวันนัด&nbsp&nbsp</div>
                        <div><i class="fas fa-square " style="color: grey"></i>&nbspไม่สามารถนัดได้</div>
                    </div>
                </div>
                <div class="row justify-content-between">

                    <div class="col-5">

                        <a asp-controller="Member" asp-action="Surveycalendar1" class="btn btn-block btn-secondary"><i class="fas fa-arrow-left"></i> ย้อนกลับ</a>
                    </div>

                    <div class="col-5">

                        <button id="store-data-btn" class="btn btn-block next-btn text-light">ถัดไป <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*Back Modal*@
    <div class="modal fade" id="backModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-question-circle fa-7x" style="  color: #26d1d1;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>ยืนยันยกเลิกการจองคิวจดทะเบียน</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
                    <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-primary text-light">ยืนยัน</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/powerful-calendar/calendar.min.js"></script>
    <script src="~/lib/powerful-calendar/calendar.js"></script>
    <script src="~/lib/fullcalendar/lib/main.js"></script>
    <script src="~/lib/fullcalendar/lib/locales/th.js"></script>
    <script>
        var caUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetTransCalendar';
        let tq = JSON.parse(localStorage.getItem("transQueue"));
        var model = JSON.parse(localStorage.getItem('transQueue'));
        let surveydate = "";
        let getcalendar = {
            landoffice_seq: tq.landoffice_seq,
            reg_type_flag: "S",
            year: new Date().getFullYear(),
            month: new Date().getMonth()+1,
        };

        let selectDate;
        $.ajax({
            url: caUrl,
            dataType: "json",
            data: getcalendar,


        }).done(function (data) {

            const eliminateNullTitle = data.records.filter(item => item.conf_type_text != "ปกติ");

            const mappingLibData = eliminateNullTitle.map(function (x) {
                let b = {
                    start: x.cd_date.substring(0, 10),
                    //title: x.date_description,
                    color: '#474b4c',
                    display: 'background',
                    thaidate: x.cd_thaidate,
                    editable: false,
                    startEditable: false,
                    durationEditable: false,
                    resourceEditable: false,


                 }

                return b;
            });
            console.log('data', mappingLibData);

            var currentSelectedDate = undefined;
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'th',
                initialView: 'dayGridMonth',
                //selectable: true,
                //selectConstraint: {
                //    start: '00:01',
                //    end: '24:00',
                //},
                showNonCurrentDates: false,
                displayEventTime: true,
                fixedWeekCount: false,
                firstDay: '0',
                themeSystem: 'bootstrap',
                selectLongPressDelay: '50',
                //longPressDelay :'500',
                editable: true,
                events: mappingLibData,

                dayCellDidMount: function (arg) {
                    var dt = new Date(avDate.format('YYYY-MM-DD'));
                    dt.setHours(0);
                    dt.setMinutes(0);
                    dt.setSeconds(0);                    
                    surveydate = avDate.format('YYYY-MM-DD');
                    availableDate = avDate.format('YYYY-MM-DD');
                    if (arg.date == String(dt)) {
                        arg.el.style.backgroundColor = "red";
                        currentSelectedDate = arg.el;

                        $('#selectDate').empty();
                        $('#selectDate').append(availableDate);
                        let qlUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetQueueLeft';
                        let getql = {
                            landoffice_seq: tq.landoffice_seq,
                            trans_queue_date: availableDate,
                            reg_type_flag: "S"
                        };

                        $.ajax({
                            url: qlUrl,
                            dataType: "json",
                            data: getql,


                        }).done(function (data) {
                            $('#getQueue').empty();
                            $('#getQueue').append(data + ' คิว');
                        });
                    }
                },

                dateClick: function (info) {

                    if (currentSelectedDate) {
                        currentSelectedDate.style.backgroundColor = "#fff";
                    }
                    selectDate = info.dateStr;
                    daytime = info.Date;
                    surveydate = selectDate;
                    const found = mappingLibData.find(el => el.start == selectDate);
                    if (found) return;
                    console.log('info', info);
                    console.log('test', selectDate);
                    currentSelectedDate = info.dayEl;
                    currentSelectedDate.style.backgroundColor = "red";
                    $('#selectDate').empty();
                    $('#selectDate').append(selectDate);
                    let qlUrl = 'https://eqlands.dol.go.th/eQLands/api/Service/GetQueueLeft';
                    let getql = {
                        landoffice_seq: tq.landoffice_seq,
                        trans_queue_date: info.dateStr,
                        reg_type_flag: "S"
                    };

                    $.ajax({
                        url: qlUrl,
                        dataType: "json",
                        data: getql,


                    }).done(function (data) {
                        $('#getQueue').empty();
                        $('#getQueue').append(data + ' คิว');
                    });
                }

            });

            // 1 get today
            // 2021-04-01 YYYY-MM-DD
            const currentDate = moment(calendar.getDate());
            // 2 shift date if found on holiday
            const avDate = getAvailableDate(currentDate);
            //calendar.gotoDate(avDate);
            console.log('AVdate', avDate.format('YYYY-MM-DD'));
            function getAvailableDate(checkDate) {
                let availableDate = eliminateNullTitle.find(x => x.cd_date.substring(0, 10) == checkDate.format('YYYY-MM-DD'));

                if (availableDate) {
                    checkDate = checkDate.add(1, 'day');
                    getAvailableDate(checkDate);

                }
                return checkDate;

            }

            calendar.render();

        });
        //document.addEventListener('DOMContentLoaded', function () {

        //});
        $(function () {
            const typeRecords = JSON.parse(localStorage.getItem('regTypeRecord'));

            const typeRecord = typeRecords.find(r => r.Value == model.reg_type_id);
            $('#type').append(typeRecord.Label);
            $('#store-data-btn').click(function () {
                localStorage.setItem("surveydate", surveydate);
                //model.appointment_date = appointdate;
                model.survey_date = surveydate;
                localStorage.setItem("transQueue", JSON.stringify(model));
                console.log('model', model);
                let nextUrl = "@Url.Action("QueueSconfirm", "Member")";
                    window.location.href = nextUrl;
            });

        });

    </script>
}