﻿@{
    ViewData["Title"] = "e-Qlands";
}
@section Styles {
    <link href="~/css/member.css" rel="stylesheet" type="text/css" />
}
<style>
    .trim-border {
        border-radius: 6px;
    }
    .header-nav {
        z-index: 100;
        width: 100%;
        position: fixed;
        top: 0;
        height: 60px;
        background-color: #546A6C;
    }

    .flex-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        height: 60px;
        margin: 0 14px;
    }

        .flex-block button {
            color: #fff;
            font-size: 1.5rem;
        }

        .flex-block .flex-l-item div {
            display: inline-block;
        }

        .flex-block .flex-r-item {
        }
</style>

<div id="member-bg">
    
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-11 m-3">
                
                <div class="bg-light p-4 trim-border">
                    <p class="h5 text-center">โปรไฟล์</p><hr>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="userFname">คำนำหน้า</label>
                            <input type="text" class="form-control" id="user_title" placeholder="ชื่อจริงภาษาไทย (ไม่ต้องใส่คำนำหน้า)" required>
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="userFname">ชื่อจริงภาษาไทย</label>
                        <input type="text" class="form-control" id="user_fname" placeholder="ชื่อจริงภาษาไทย (ไม่ต้องใส่คำนำหน้า)" required>
                    </div>
                    <div class="form-group">
                        <label for="userLname">นามสกุลภาษาไทย</label>
                        <input type="text" class="form-control" id="user_lname" placeholder="นามสกุลภาษาไทย" required>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email address</label>
                        @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="อีเมล์แอดเดรส">*@
                        <input type="text" class="form-control" name="input_email" id="user_email" placeholder="อีเมล์แอดเดรส" @*pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"*@
                               autocomplete="off" value="" required>
                        <div class="invalid-feedback">
                            กรุณากรอกอีเมล์
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userLineId">Line ID</label>
                        <input type="text" class="form-control" id="user_line_id" placeholder="Line ID">
                    </div>

                    <p class="h5">กำหนดรหัสการเข้าใช้งานระบบ</p>
                    <div class="form-group">
                        <label for="userCitizenId">เลขบัตรประชาชน(13หลัก)</label>
                        <input type="text" class="form-control" id="user_citizen_id" aria-describedby="emailHelp" placeholder="เลขบัตรประชาน(13หลัก)">
                        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                    <div class="form-group">
                        <label for="userTelephone">หมายเลขโทรศัพท์</label>
                        <input type="number" class="form-control" id="user_telephone" placeholder="หมายเลขโทรศัพท์" pattern="^0([8|9|6])([0-9]{8}$)" required>
                        <div class="invalid-feedback">
                            กรุณากรอกเบอร์มือถือตัวเลข 10 หลัก
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-block btn-danger">ย้อนกลับ</a>

                        </div>
                        <div class="col-6">
                            <button id="userupdate" class="btn btn-block btn-success">แก้ไขข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Register Success Modal*@
    <div class="modal fade" id="registerSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-check-circle fa-7x" style=" color:#4cff00;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>แก้ไขข้อมูลสำเร็จ</p>
                    </div>

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>*@
                    <a asp-controller="Member" asp-action="Reservedlist" class="btn btn-primary text-light">ตกลง</a>
                </div>
            </div>
        </div>
    </div>

    @*Register Fail Modal*@
    <div class="modal fade" id="registerFailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center mb-4">
                        <i class="far fa-times-circle fa-7x" style=" color:red;"></i>
                    </div>

                    <div class="row justify-content-center ">
                        <p>เกิดข้อผิดพลาดในการลงทะเบียน</p>
                    </div>

                    <div class="row justify-content-center ">
                        <p>กรุณาลองใหม่อีกครั้ง </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                    @*<a asp-controller="Member" asp-action="Reservedlist" class="btn btn-primary text-light">ยืนยัน</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function checkID(id) {
            if (id.length != 13) return false;
            for (i = 0, sum = 0; i < 12; i++)
                sum += parseFloat(id.charAt(i)) * (13 - i); if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
                return false; return true;
        }

        function checkForm() {
            if (!checkID(document.form1.txtID.value))
                alert('รหัสประชาชนไม่ถูกต้อง');
            else alert('รหัสประชาชนถูกต้อง เชิญผ่านได้');
        };
        $(function () {
            // fill input
            //1. get user storage
            let userdata = JSON.parse(localStorage.getItem("userinfo"));
            console.log('userdata', userdata)
            //2. fill to input
            $("#user_title").val(userdata.title_name);
            $("#user_fname").val(userdata.user_fname);
            $("#user_lname").val(userdata.user_lname);
            $("#user_email").val(userdata.user_email);
            $("#user_line_id").val(userdata.user_line_id);
            $("#user_citizen_id").val(userdata.user_citizen_id);
            $("#user_telephone").val(userdata.user_telephone);
            $("#user_regid").val(userdata.user_reg_id);
            $('#userupdate').click(function () {
                //let userName = $("input[name='user_name']").val();
                //let userName = $("#username").val();
                //let uPass = $("input[name='user_pwd']").val();
                let userregid = $("#user_regid").val();
                let usertypeid = '1';
                let landofficeseq = '0';
                let titleid = $("input[name='userTitle']:checked").val();
                let userfname = $("#user_fname").val() ;
                let userlname = $("#user_lname").val() ;
                let usercitizenid = $("#user_citizen_id").val() ;
                let usertelephone = $("#user_telephone").val() ;
                let useremail = $("#user_email").val() ;
                let userlineid = $("#user_line_id").val() ;
                let createduser = $("#user_citizen_id").val();
                let userpwd = $("#user_telephone").val();
                let url = 'https://eqlands.dol.go.th/eQLands/api/Service/UpdateUser';

                const data = {
                    
                    url: url,
                    user_reg_id: userregid,
                    user_type_id: usertypeid ,
                    landoffice_seq: landofficeseq ,
                    title_id: titleid ,
                    user_fname: userfname ,
                    user_lname: userlname,
                    user_citizen_id: usercitizenid ,
                    user_telephone: usertelephone ,
                    user_email: useremail,
                    user_line_id: userlineid ,
                    created_user: createduser,
                    user_pwd: userpwd
                };

                console.log(data);
                $.ajax({
                    url: url,
                    dataType: "json",
                    type: "POST",
                    data: data
                }).done(function (response) {
                    console.log('response',response);
                    console.log('Data', data);
                    //Modal
                    let status = response.status;
                    console.log('status', status);
                    if (status === 200) {
                        //do somthing
                        $('#registerSuccessModal').modal('show');
                    } else {

                        $('#registerFailModal').modal('show');

                        @*localStorage.setItem("userinfo", JSON.stringify(res));
                        let prot = window.location.protocol
                        let rootPath = window.location.host;
                        let nextUrl = "@Url.Action("Reservedlist", "Member")";
                        window.location.href = nextUrl;*@
                    }

                });



            });
        });
    </script>
}