﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="row">
    <div class="col">
        <button class="btn btn-block btn-danger" id="submit-login">เข้าสู่ระบบ</button>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $('#submit-login').click(function () {
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({ "user_name": "2459900016656", "user_pwd": "0910373831" });

                var requestOptions = {
                    method: 'POST',
                    mode:'cors' ,
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("http://localhost:4000/eQLandsService/api/Service/Login", requestOptions)
                    .then(response => response.text())
                    .then(result => console.log(result))
                    .catch(error => console.log('error', error));

                //let userName = 'test setes';
                //let uPass = '123456';

                //const data = {
                //    user_name: userName,
                //    user_pwd: uPass
                //};

                //fetch('http://110.164.49.138/eQLands/api/Service/Login', {
                //    method: 'POST',
                //    mode: 'cors',
                //    headers: {
                //        'Content-Type': 'application/json',
                //    },
                //    body: JSON.stringify(data),
                //})
                //    .then(response => response.json())
                //    .then(data => {
                //        console.log('Success:', data);
                //    })
                //    .catch((error) => {
                //        console.error('Error:', error);
                //    });
            });
        });
    </script>
}