﻿#member-bg {
    background-color: #546A6C;
    background-image: linear-gradient(125deg, #546A6C ,#2B3C43);
    height:100vh;
    overflow: auto;
}
.btn-addreserve {
    position: fixed;
    bottom: 80px;
    right: 20px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 20px 25px;
    box-shadow: 1px 3px 10px 1px #1b1a1a;
    background-color: #e31919;
    z-index: 200;
    border-color:transparent;
}
.cancle-btn{
    position: absolute;
    right: 14px;
}